.text-box {
    max-width: 100%;
    color: #333333;
    /*margin-bottom: 20px;*/
    width: 100%;
}

.text-label {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 22px;
}

.text-text {
    display: block;
    padding: 15px;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    transition: border-color .2s ease;
}

.text-text:focus {
    outline: none;
    border: 1px solid #198754;
}
